<h1>We are near you</h1>
<div class="col-md-4 col-xs-10">
	<h3>Location</h3>
		<p>Köpenicker Str. 126</p>
		<p>10179 Berlin, Germany</p>

	<h3>Hours</h3>
		<p>Mon-Sat: 10AM-7PM</p>
</div>

<div class="col-md-8 col-xs-10">
	<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Kopenicker%20Str.%20126%2010179%20Berlin%2C%20Germany&key=AIzaSyCEK92_s9jxvJ7Nbiwr-AV42EE-PMGW_-c" allowfullscreen id="map"></iframe>
</div>