<table>
  <tbody>
    <tr>
      <td><p>You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
    <tr>
      <td><p>Telephone number: <%= @phone %></p></td>
    </tr>
    <tr>
      <td align="center">
        <%= image_tag("http://savepic.ru/14712123.jpg", class:"img-responsive", width:"360", alt:"Berlin Bike Shop", border:"0") %>
      </td>
    </tr>
  </tbody>
</table>