<table>
  <tbody>
    <tr>
      <td><p style="font-family:verdana,sans-serif">Bike Berlin would like to thank you for your purchase, please see details below:</p></td>
    </tr>
    <tr>
      <td>
          <h3 style="font-family:verdana,sans-serif"><%= @product.name %></h3>
          <p style="font-family:verdana,sans-serif"><%= @product.description %></p>
      </td>
    </tr>
    <tr>
      <td><p style="font-family:verdana,sans-serif"><strong>Total Cost: <%= @product.price %></strong></p></td>
    </tr>
  </tbody>
</table>