<table>
  <tbody>
    <tr>
      <td><p style="font-family:verdana,sans-serif">Dear <%= @user.first_name %>, Bike Berlin would like to thank you for your purchase. Please see details below:</p></td>
    </tr>
    <tr>
      <td>
          <h3 style="font-family:verdana,sans-serif">Product: <%= @product.name %></h3>
          <p style="font-family:verdana,sans-serif"><%= @product.description %></p>
      </td>
    </tr>
    <tr>
      <td><p style="font-family:verdana,sans-serif"><strong>Total Cost: <%= @product.price %>€</strong></p></td>
    </tr>
  </tbody>
</table>