// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#notice{
	margin-top:3.5em;
}
*/

.showcase{
	
}
.product_item{
	border: 0.5px solid #124849;
  border-radius: 15px;
	background-color: #fbfbfd; 
	padding: 1.5em;
	margin: 1em;
	height: 36em;
  overflow: hidden;
}
.item_pic{
  display: block;
	height: 17.5em;
	width: 26.25em;
	margin-top: 0em;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em;
  position: relative;
}
.card_block{
    display: block;
    position: relative;
    bottom:0;
    padding-top: 0;
    padding-bottom: 0;
    height: 35%;
    z-index: 1;
    width: 100%;
}
.card_block>a>h2{
  line-height: 0.5;
}
p{
	text-align: left;
	font-size: 7.0vmin;
	font-weight: 900;
	font-family: Futura, Helvetica, Arial, sans-serif;
}
#descr{
  margin-left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 48.5%;
  line-height: 1.2em;
  color: #0a292a;
  font-size: 1.4em;
  font-weight: 600;
}
.card_footer{
  padding-right: 18%;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0;
  z-index: 2;
  margin-bottom: 0em;
}
.card_block > a:hover{
  text-decoration: none;
}
/* ---For Horizontal Lines---*/
.style-two {
    z-index: 3;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 0;
    margin-bottom: 1em;
}
style-null {
  border: 0;
  background-color: #f4e5e5;
  border-top: 1px dashed #b74c4c;
}
/* ---END For Horizontal Lines---*/

/*--For Buttons--*/
.buy{
  position:relative;
  margin: 0em 2em;
}
.buy_2{
  align-items: center;
  margin: auto;
}
/*--END For Buttons--*/

.auxiliary_link{
	clear: right;
	clear: left;
}

.show{
  width: 100%;
  font-size: 15px;
  padding-left: 5%;
  padding-right: 3%;
  border-left: solid;
  border-left-width: 1px;
  border-left-color: #e0b2b2;
}

.full_description{
  text-align: left;
  font-size: 1.1em;
  font-family: verdana, arial, helvetica, sans-serif;
}
.item_pic_2{
  display: block;
  height: auto;
  width: auto;
	margin-top: 0em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	padding-top: 0;
}
.product_show_footer{ 
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0;
  z-index: 2;
  margin-bottom: 0em;
}
#new_comm{
  width: 100%;
  align-items: left;
/*  margin: 0 auto;
  width: 1320px;
  top: 80px;
  padding-bottom: 70px;
*/
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1em;
}
#new_comm .form-control{
  width: 100%;
}
#old_comm{
  padding: 0 25px;
}
.product_reviews p{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 1.1em;
}
.product_reviews a:hover {
  background-color: #990000;
}
.btn-info{
  background-color: #1a6768;
  border-color: #f1f1cb;
}
.btn-info:hover{
  background-color: #ec971f;
  border-color: #d58512;
  }
.btn-success{
  background-color: #f0ad4e;
  border-color: #d58512; 
}
.btn-success:hover{
  background-color: #ec971f;
  border-color: #d58512;
}
.buy{
  background-color: #3232c7;
  border-color: #eaeaac; 
}
.buy:hover{
  background-color: #ec971f;
  border-color: #d58512;
}

/*--Pagination of comments--*/
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #c73232; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #5e5eaf;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #5e5eaf;
      background: #5e5eaf;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
/*--END Pagination of comments--*/

/*--New Product Form--*/
#product_new{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1320px;
  top: 80px;
  padding-bottom: 70px;
}
#product_create{
  margin-top: 1em;
  padding-top: 1em;
}
#product_new .field{
  width: 100%;
}
#product_new p{
  margin-bottom: 0;
}
