// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#notice{
	margin-top:3.5em;
}

.showcase{

}
.items{
	height: 19em;
	width: auto;
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em;
}
p{
	text-align: center;
	font-size: 7.0vmin;
	font-weight: 900;
	font-family: Futura, Helvetica, Arial, sans-serif;
}