// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Signup, Login Forms*/
#signup, #login, #users_form, #user_profile{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1320px;
  top: 80px;
  padding-bottom: 70px;
}
#signup .form-control{
  width: 100%;
}
#login .form-control{
  width: 100%;
}
#users_form .form-control{
  width: 100%;
}
#user_profile{
  margin-top: 6em;
  font-family: Futura, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
}
