
<% if signed_in? %>
  <strong>Add a review for this product:</strong>
  <%= form_for([@product, @product.comments.build]) do |f| %>
    <p>
      <!--<#%= f.label :body, "Comment" %><br>-->
      <%= f.text_area :body, class: "form-control", placeholder: "Your comment" %>
    </p>
    <p>
      <div class="rating"></div>
    </p>  
    <p>
      <%= f.submit "Submit", :class=>"btn btn-info", :style=>"margin-top:10px;" %>
    </p>
  <% end %>
<% end %>